.nav {
  background-color: #fff;
  padding: 16px 120px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
}
.navItem {
  padding: 8px 12px;
  margin-inline: 4px;
}

@media screen and (max-width: 560px) {
  .nav {
    padding: 16px 16px;
  }
}
