*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  min-height: 100vh;
}
/* .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 75%;
  max-height: 450px;
  background-color: #fff;
  box-shadow: 2px 5px 15px #dfdfdf;
  padding: 4rem;
  border-radius: 15px;
} */
